<div class="site_unit">
  <h1>关于Wtools</h1>
  <p>Wtools是一个个人项目，主要宗旨是为网民提供各种实用、操作简单的工具来方便我们的工作、生活、学习。Wtools提供的工具被模块化的组织在一起，我们会根据网站的实际运营效果和用户的反馈，来酌情改进现有工具，和添加新的实用工具。</p>
  <p>Wtools提供的工具一般都可以被外部网站直接引用，主要以iframe页面引用和图片引用两种方式。你可以将工具放在自己的网站/博客上，也可以放在论坛的签名里，任何可以使用iframe或自定义图片的网站都可以引用。</p>
</div>