<div class="site_unit">
  <h3>2011年4月22日：</h3>
  <b>更新内容：</b><br />
  1、增加了公开的“最新应用”页面；<br />
  2、站点首页模版调整；<br />
  3、用户中心模版调整；<br />
  4、修复由于用户名特殊字符导致的一个错误;<br />
  5、IP信息展示错误修复；<br />
  6、搜索功能中的一个错误修复；<br />
  7、最新应用页面中公开应用个数错误的修复；<br />
  8、时间显示错误时区的修复；<br />
  9、计划增加邮件提醒功能；<br />
  10、计划创建页面，日志总数显示错误的修复。<br />
  <div class="line"></div>
  <h3>2011年4月13日：</h3>
  <b>更新内容：</b><br />
  1、任务和计划的网页和图片展示页面做了缓存处理，渲染速度大幅提升！<br />
  2、效率分析的圆饼图和曲线图做了缓存处理，渲染速度大幅提升！<br />
  3、用户在编辑和创建和修改样式时的一个后台错误修复；<br />
  4、图片显示多个计划或任务时，名称与进度条错位的错误修复；<br />
  5、任务和计划的图片版的背景色由白色调整成透明；<br />
  6、效率分析图的背景色由白色调整成透明；<br />
  7、增加sitemap<br />
  <div class="line"></div>
  <h3>2011年4月8日：</h3>
  wtools.cn域名正式启用，Wtools正式上线！暂时不再添加新功能，只做一些修复和改进！<br /><br />
  <b>更新内容：</b><br />
  1、计划和任务无法修改样式的错误修复；<br />
  2、调整了计划和样式的创建流程；<br />
  2、测试期间注册的会员获得200金币奖励；<br />
  <div class="line"></div>
  <h3>2011年3月31日：</h3>
  <b>修复：</b><br />
  1、用户基本资料修改功能调整；<br />
  2、任务/计划展示页面的日志内容表格的样式调整；<br />
  3、应用中心安装卸载应用功能的bug修复；<br />
  4、任务/计划修改时一些逻辑错误修复；<br />
  5、一些邮件内容本地化处理；<br />
  6、做定时任务时还记录用户日志的bug修复；<br />
  7、个别板块下的搜索功能失效的bug修复；<br />
  8、其他细节调整。<br />
  <br />
  <b>新增：</b><br />
  1、增加用户自定义个人头像功能，本地上传头像和Gravatar头像任意切换；<br />
  2、增加系统信息功能；<br />
  3、首页增加任务和计划的Demo展示；<br />
  <div class="line"></div>
  <h3>2011年3月25日：</h3>
  <b>修复：</b><br />
  1、注册时的错误提醒信息没有做本地化处理；<br />
  2、用户反馈列表应该按照创建时间倒叙排列；<br />
  3、问题解答无法创建的问题；<br />
  4、创建任务或计划时，不再出现创建样式表单；用户以后按照需要自行修改创建。<br />
  5、新建计划时，点击时间量输入框时提示时增加提醒，以免用户误会无法填写时间量；<br />
  6、“关于”页面的错别字改正；<br />
  7、定时更新计划任务应完成百分比功能的一些逻辑问题；<br />
  8、由于Ruby1.9.2默认编码问题，导致定时rake任务运行失败的问题；<br />
  <br />
  <b>新增：</b><br />
  1、任务、计划日志个数修改功能<br />
  2、增加用户积分中心；<br />
  3、增加网站推广、推广送积分功能；<br /><br />
  To do list： <br />
  1、增加用户自定义个人头像功能；<br />
  2、增加系统信息功能；<br />
  3、用户各邮件内容的本地化处理；<br />
  <div class="line"></div>
  <h3>2011年3月23日：</h3>
  发布第一个版本！基本实现了网站的基础架构。<br /><br />
  1、提供了【计划】应用；<br />
  2、提供了【任务】应用；<br />
  3、提供了自定义应用展示样式功能；<br />
  4、提供了执行效率分析图；<br />
  5、提供了应用外部引用功能(网页、图片)<br />
  6、提供了任务计划延迟邮件提醒功能；<br />
  7、提供了用户反馈模块；<br />
  8、提供了问题解答模块；<br />
  9、提供了用户积分功能；<br /><br />
  To do list： <br />
  1、增加任务、计划日志个数修改功能；<br />
  2、增加用户积分中心；<br />
  3、增加网站推广、推广送积分功能；<br />
  4、增加系统信息功能。
</div>
