<div class="site_unit">
  <div class="rails-log"><img src="/images/rails.png" alt="Rails logo" title="Rails logo" /></div>
  <h1>来自Ruby on Rails的邀请</h1>
  <p>Rails是WEB开发领域的Lady Gaga，Rails是最引人瞩目的弄潮儿，Rails是众多WEB应用框架中的完美主义者，Rails是Cool的代言词。</p>
  <p>Rails和web开发领域各种前沿趋势联系的如此紧密，以至于那些Rails程序员在WEB开发的世界里也变得时尚起来。</p>
  <p>在国外，Rails社区活力四射，越来越多的企业开始认可并接受Rails，越来越多使用Ruby on Rails作为主要技术的公司获得成功。</p>
  <p>但是在国内，我们的Rails社区不像国外那么热闹，甚至现在的人气相比以前还有所下降。现在，Rails这个美妙的世界需要更多的人去了解，
    在这个倡导快乐编程的充满人性化的世界里，你一定会乐不思蜀、流连忘返。如果你是一个对WEB编程感兴趣的人，或希望涉足WEB开发的人，
    希望你能花点时间，了解一下ruby和rails。</p>
  <h2>了解Ruby，了解Rails</h2>
  <b>维基百科</b>
  <ul>
    <li>Ruby：<a href="http://zh.wikipedia.org/wiki/Ruby" target="_blank">http://zh.wikipedia.org/wiki/Ruby</a></li>
    <li>Rails：<a href="http://zh.wikipedia.org/wiki/Rails" target="_blank">http://zh.wikipedia.org/wiki/Rails</a></li>
  </ul>
  <b>官方网站</b>
  <ul>
    <li>Ruby官方网站：<a href="http://www.ruby-lang.org/zh_cn" target="_blank">http://www.ruby-lang.org/zh_cn</a></li>
    <li>Rails官方网站：<a href="http://rubyonrails.org/" target="_blank">http://rubyonrails.org/</a></li>
  </ul>
  <h2>Ruby on Rails书籍推荐</h2>
  <p>Rails是使用Ruby编写的，所以，在学习Rails之前，你要先有一定的Ruby基础。Ruby语言优雅而性感，是最接近人类自然语言的一种编程语言，学习门槛很低。
    下面推荐基本口碑比较好的Ruby书籍：</p>
  <p>
    <a href="http://product.dangdang.com/product.aspx?product_id=20443877" target="_blank"><img src="http://img37.ddimg.cn/80/8/20443877-1_b.jpg" alt="The Ruby Way" /></a>
    <a href="http://product.dangdang.com/product.aspx?product_id=9272106" target="_blank"><img src="http://img36.ddimg.cn/63/17/9272106-1_b.jpg" alt="Programming Ruby" /></a>
    <a href="http://product.dangdang.com/product.aspx?product_id=20042300" target="_blank"><img src="http://img30.ddimg.cn/47/29/20042300-1_b.jpg" alt="The Ruby Way" /></a>
  </p>
  <p>Rails将Ruby语言的魔法特性运用的出神入化，进入Rails，你仿佛进入了一个充满魔法的编程世界，也因为如此，当你对Ruby有一定了解之后，
    你还要花一些时间来了解这个魔法世界。如果你开始刚学，推荐你从Rails3开始。</p>
  <p>推荐阅读的介绍Rails2的书籍：</p>
  <p>
    <a href="http://product.dangdang.com/product.aspx?product_id=20896000" target="_blank"><img src="http://img30.ddimg.cn/70/28/20896000-1_b.jpg" alt="Programming Ruby" /></a>
    <a href="http://product.dangdang.com/product.aspx?product_id=20804819" target="_blank"><img src="http://img39.ddimg.cn/68/15/20804819-1_b.jpg" alt="Programming Ruby" /></a>
  </p>
  <p>关于Rails3，Rails官方的guides和wiki是不错的选择：</p>
  <ul>
    <li>Guides：<a href="http://guides.rubyonrails.org/" target="_blank">http://guides.rubyonrails.org/</a></li>
    <li>Wiki：<a href="http://wiki.rubyonrails.org/" target="_blank">http://wiki.rubyonrails.org/</a></li>
  </ul>
  <p>Rails官方的视频频道也推荐看一看：<a href="http://rubyonrails.org/screencasts" target="_blank">http://rubyonrails.org/screencasts</a></p>
  <h2>Ruby on Rails交流社区</h2>
  <ul>
    <li>Shanghai on Ralis社区：<a href="http://groups.google.com/group/shanghaionrails" target="_blank">http://groups.google.com/group/shanghaionrails</a></li>
    <li>China on Rails社区：<a href="http://chinaonrails.com" target="_blank">http://chinaonrails.com</a></li>
    <li>Info Ruby社区：<a href="http://www.infoq.com/cn/ruby/" target="_blank">http://www.infoq.com/cn/ruby/</a></li>
    <li>Javaeye论坛：<a href="http://www.javaeye.com/forums/board/Ruby" target="_blank">http://www.javaeye.com/forums/board/Ruby</a></li>
    <li>CSDN论坛：<a href="http://forum.csdn.net/SList/ROR" target="_blank">http://forum.csdn.net/SList/ROR</a></li>
  </ul>
  <h2>使用Rails做的网站</h2>
  <ul>
    <li>Twitter：<a href="http://twitter.com" target="_blank">http://twitter.com</a></li>
    <li>Javaeye：<a href="http://javaeye.com" target="_blank">http://javaeye.com</a></li>
    <li>Wtools：<a href="http://wtools.cn" target="_blank">http://wtools.cn</a></li>
  </ul>
</div>
